{{ $outputUrl := "" }}
{{ $outputUrl = .Destination | safeURL }}

{{ if strings.HasPrefix $outputUrl  "mailto:" }}
  <a href="{{$outputUrl}}"{{ with .Title}} title="{{ . }}"{{ end }}>{{ .Text }}</a>
{{ else }}
  {{ $useBlank := true}}

  {{ if in $outputUrl  "target=_blank" }}
    {{ $outputUrl = trim $outputUrl "target=_blank"}}
    {{ $useBlank = true}}
  {{ end}}

  {{ if strings.HasSuffix $outputUrl  "?"}}
    {{ $outputUrl = strings.TrimRight "?" $outputUrl }}
  {{ end }}
  <a href="{{$outputUrl}}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if $useBlank }} target="_blank"{{ end }}>{{ .Text }}</a>
{{ end }}
